apiview==1.3.25
asgiref==3.6.0
autopep8==2.0.2
certifi==2023.5.7
charset-normalizer==3.1.0
coreapi==2.3.3
coreschema==0.0.4
defusedxml==0.7.1
diff-match-patch==20230430
Django==4.2
django-ckeditor==6.5.1
django-cors-headers==3.14.0
django-import-export==3.2.0
django-jazzmin==2.6.0
django-js-asset==2.0.0
django-mathjax==0.0.8
djangorestframework==3.14.0
drf-yasg==1.21.6
et-xmlfile==1.1.0
gunicorn==20.1.0
idna==3.4
inflection==0.5.1
itypes==1.2.0
Jinja2==3.1.2
MarkupPy==1.14
MarkupSafe==2.1.3
odfpy==1.4.1
openpyxl==3.1.2
packaging==23.1
Pillow==10.0.1
pycodestyle==2.10.0
pytz==2023.3
PyYAML==6.0
requests==2.31.0
ruamel.yaml==0.17.32
ruamel.yaml.clib==0.2.7
sqlparse==0.4.4
tablib==3.5.0
tomli==2.0.1
tzdata==2023.3
uritemplate==4.1.1
urllib3==2.0.3
xlrd==2.0.1
xlwt==1.3.0
