<!DOCTYPE html>
<html>

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Home</title>
<link href="https://fonts.googleapis.com/css?family=Mukta:300,400,500,600,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../static/style.css">

<body class="">

    <!-- <header class="header" id="headers">
        <div class="container" id="wrapper">
            <div class="header__top">
                <a class="header__top-logo tuit" href="./index.html">
                    <img class="logo" src="https://lms.tuit.uz/assets/images/logo-md.png" width="50" height="50"
                        alt="tuit-logo">
                </a>
                <div class="header__top-content">
                    <h2 class="header__top-title ">muhammad al-xorazmiy nomidagi
                        toshkent
                        axborot
                        texnologiyalari
                        unuiversiteti
                    </h2>
                    <h2 class="header__top-title header__top-titlehigh ">oliy matematika kafedrasi</h2>
                </div>

                <a class="header__top-logo high__math" href="./index.html">
                    <img class="logo" src="https://picsum.photos/50/50" width="50" height="50" alt="Rahbar">
                </a>
            </div>
            <nav id="nav">
                <ul class="header_navbar-list list">

                    <li class="">
                        <a class="nav-link" href="./students.html">Talabalarga</a>
                    </li>
                    <li class="nav__item">
                        <a class="nav-link" href="#home">
                            E'lonlar
                        </a>
                    </li>
                    <li class="">
                        <a class="nav-link" href="./abiturient.html">Abiturientlarga</a>
                    </li>

                    </li>
                    <li class=""><a class="nav-link" href="./contact.html">Hamkorlarimiz</a>
                    </li>
                    <li class="">
                        <a class="nav-link active" href="./contact.html">Yangiliklar</a>
                    </li>
                    <li class="">
                        <a class="nav-link" href="./contact.html">Mukofotlar</a>
                    </li>
                    <li class="">
                        <a class="nav-link" href="./contact.html">Aloqalar</a>
                    </li>
                    <li>
                        <a class="nav-link link" href="./kalkulyator.html">
                            Kalkulyatorlar</a>
                    </li>


                </ul>
                <ul class="nav__list list" id="nav-bar">

                    <li>
                        <a class="nav-link " href="#about">
                            Kafedra tarixi
                        </a>
                    </li>
                    <li class=""><a class="nav-link link" href="./blog.html">Faxriylarimiz</a>
                    <li>
                        <a class="nav-link link" href="./teachers.html">
                            Kafedra tarkibi
                        </a>
                    </li>
                    <li>
                        <a class="nav-link link" href="./subject.html">
                            Kafedra fanlar
                        </a>
                    </li>
                    <li>
                        <a class="nav-link link" href="./schedule.html">
                            Dars jadval
                        </a>
                    </li>
                    <li>
                        <a class="nav-link link" href="#contact">
                            Meyoriy
                        </a>
                    </li>
                    <li>
                        <a class="nav-link link" href="#contact">
                            Faoliyat
                        </a>
                    </li>
                    <li>
                        <a class="nav-link link" href="#contact">
                            Statistika
                        </a>
                    </li>

                </ul>
                <button class="header__btn" id="headerbtn"></button>
            </nav>
        </div>
    </header> -->
    <header class="container" id="navbar">
        <div class="header__top ">
            <a class="header__top-logo tuit home-link" href="./index.html">
                <img class="logo" src="https://lms.tuit.uz/assets/images/logo-md.png" width="50" height="50"
                    alt="tuit-logo">
            </a>
            <div class="header__top-content">
                <h2 class="header__top-title ">muhammad al-xorazmiy nomidagi
                    toshkent
                    axborot
                    texnologiyalari
                    unuiversiteti
                </h2>
                <h2 class="header__top-title header__top-titlehigh ">oliy matematika kafedrasi</h2>
            </div>

            <a class="header__top-logo high__math home-link" href="./index.html">
                <img class="logo" src="https://picsum.photos/50/50" width="50" height="50" alt="Rahbar">
            </a>
        </div>
        <nav class="navbar-container ">



            <button type="button" id="navbar-toggle" aria-controls="navbar-menu" aria-label="Toggle menu"
                aria-expanded="false">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div id="navbar-menu" aria-labelledby="navbar-toggle">
                <ul class="navbar-links">

                    <li class="navbar-item">
                        <a class="nav-link" href="./students.html">Talabalarga</a>
                    </li>
                    <li class="navbar-itemnav__item">
                        <a class="nav-link" href="#home">
                            E'lonlar
                        </a>
                    </li>
                    <li class="navbar-item">
                        <a class="nav-link" href="./abiturient.html">Abiturientlarga</a>
                    </li>

                    </li>
                    <li class="navbar-item"><a class="nav-link" href="./contact.html">Hamkorlarimiz</a>
                    </li>
                    <li class="navbar-item">
                        <a class="nav-link active" href="./contact.html">Yangiliklar</a>
                    </li>
                    <li class="navbar-item">
                        <a class="nav-link" href="./contact.html">Mukofotlar</a>
                    </li>
                    <li class="navbar-item">
                        <a class="nav-link" href="./contact.html">Aloqalar</a>
                    </li>
                    <li class="navbar-item">
                        <a class="nav-link link" href="./kalkulyator.html">
                            Kalkulyatorlar</a>
                    </li>


                </ul>
                <ul class="navbar-links " id="nav-bar">

                    <li class="navbar-item">
                        <a class="nav-link " href="#about">
                            Kafedra tarixi
                        </a>
                    </li>
                    <li class=""><a class="nav-link link" href="./blog.html">Faxriylarimiz</a>
                    <li class="navbar-item">
                        <a class="nav-link link" href="./teachers.html">
                            Kafedra tarkibi
                        </a>
                    </li>
                    <li class="navbar-item">
                        <a class="nav-link link" href="./subject.html">
                            Kafedra fanlar
                        </a>
                    </li>
                    <li class="navbar-item">
                        <a class="nav-link link" href="./schedule.html">
                            Dars jadval
                        </a>
                    </li>
                    <li class="navbar-item">
                        <a class="nav-link link" href="#contact">
                            Meyoriy
                        </a>
                    </li>
                    <li class="navbar-item">
                        <a class="nav-link link" href="#contact">
                            Faoliyat
                        </a>
                    </li>
                    <li class="navbar-item">
                        <a class="nav-link link" href="#contact">
                            Statistika
                        </a>
                    </li>

                </ul>
            </div>
        </nav>
    </header>

    <main>
        <section>
            <div style="margin-top: 200px;" class="container">
                <ul>
                    <li>
                        <h3>Alimardon Mirazaabdullayev</h3>
                        <div style="display: flex; gap: 15px; align-items:flex-start;">
                            <img src="https://picsum.photos/100" alt="" width="100" height="100">
                            <div class="content">

                                <p>Ma'lumoti: </p>
                                <p> Tug'ilgan kuni:</p>
                                <p> Lorem ipsum dolor sit amet.</p>
                                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto?</p>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, magni.</p>
                                <p></p>

                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
    </main>

    <!-- <script>
        fetch('http://127.0.0.1:8000/api/blogs/v1')
            .then(response => response.blob())
            .then(blob => {
                var image = document.getElementById("image");
                var url = URL.createObjectURL(blob);
                image.src = url;
            });
    </script> -->


    <script src="../static/script.js"></script>
</body>

</html>