<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher</title>
    <link href="https://fonts.googleapis.com/css?family=Mukta:300,400,500,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/scss/style.css">
</head>

<body>
    <header class="header container">
        <div class="header__top">
            <a class="header__top-logo tuit" href="./index.html">
                <img src="https://lms.tuit.uz/assets/images/logo-md.png" width="43" height="43" alt="tuit-logo">
            </a>
            <div class="header__top-content">
                <h2 class="header__top-title ">muhammad al-xorazmiy nomidagi
                    toshkent
                    axborot
                    texnologiyalari
                    unuiversiteti
                </h2>
                <h2 class="header__top-title header__top-titlehigh ">oliy matematika kafedrasi</h2>
            </div>

            <a class="header__top-logo high__math" style="width: 24px; height: 24px;" href="./index.html">
                <img src="https://picsum.photos/43/43" width="50" height="43" alt="Rahbar">
            </a>
        </div>

        <div class="header_navbar">
            <ul class="header_navbar-list">

                <li class="header_navbar-item">
                    <a class="header_navbar-link" href="./navbarlink/students.html">Talabalrga</a>
                </li>
                <li class="header_navbar-item">
                    <a class="header_navbar-link" href="./portfolio.html">Abiturientlarga</a>
                </li>
                <li class="header_navbar-item"><a class="header_navbar-link" href="./blog.html">Faxriylarimiz</a></li>
                <li class="header_navbar-item"><a class="header_navbar-link" href="./contact.html">Hamkorlarimiz</a>
                </li>
                <li class="header_navbar-item">
                    <a class="header_navbar-link" href="./contact.html">Yangiliklar</a>
                </li>
                <li class="header_navbar-item">
                    <a class="header_navbar-link" href="./contact.html">Mukofotlar</a>
                </li>
                <li class="header_navbar-item">
                    <a class="header_navbar-link" href="./contact.html">Kafedra bilan aloqa</a>
                </li>


            </ul>

        </div>
        <ul class="header_navbar-list">
            <li><a class="header_navbar-link" href="#">Qarorlar</a></li>
            <li><a class="header_navbar-link" href="#">E'lonlar</a></li>
            <li><a class="header_navbar-link" href="#">Kafedra tarixi</a></li>
            <li><a class="header_navbar-link" href="#">Kafedra tarkibi</a></li>
            <li><a class="header_navbar-link" href="#">Kafedra fanlar</a></li>
            <li><a class="header_navbar-link" href="#">Dars jadval</a></li>
            <li><a class="header_navbar-link" href="#">Meyoriy hujjatlar</a></li>
            <li><a class="header_navbar-link" href="#">Faoliyat</a></li>
            <li><a class="header_navbar-link" href="#">Statistika</a></li>
            <li><a class="header_navbar-link" href="#">Kalkulyatorlar</a></li>
        </ul>


    </header>
    <main class="container">
        <section class="teacher">
            <div class=" teacher__container">
                <h3 class="teacher__title">O'qtuvchilar</h3>
                <div class="teacher__card">
                    <div class="teacher__card-item">
                        <img class="teacher__card-img" src="https://picsum.photos/100/100" alt="ustoslar">
                        <h3 class="teacher__card-name">Lorem, ipsum dolor.</h3>
                        <a class="teacher__card-link" href="#">Batafsil</a>
                    </div>
                    <div class="teacher__card-item">
                        <img class="teacher__card-img" src="https://picsum.photos/100/100" alt="ustoslar">
                        <h3 class="teacher__card-name">Lorem, ipsum dolor.</h3>
                        <a class="teacher__card-link" href="#">Batafsil</a>
                    </div>
                    <div class="teacher__card-item">
                        <img class="teacher__card-img" src="https://picsum.photos/100/100" alt="ustoslar">
                        <h3 class="teacher__card-name">Lorem, ipsum dolor.</h3>
                        <a class="teacher__card-link" href="#">Batafsil</a>
                    </div>
                    <div class="teacher__card-item">
                        <img class="teacher__card-img" src="https://picsum.photos/100/100" alt="ustoslar">
                        <h3 class="teacher__card-name">Lorem, ipsum dolor.</h3>
                        <a class="teacher__card-link" href="#">Batafsil</a>
                    </div>
                    <div class="teacher__card-item">
                        <img class="teacher__card-img" src="https://picsum.photos/100/100" alt="ustoslar">
                        <h3 class="teacher__card-name">Lorem, ipsum dolor.</h3>
                        <a class="teacher__card-link" href="#">Batafsil</a>
                    </div>
                    <div class="teacher__card-item">
                        <img class="teacher__card-img" src="https://picsum.photos/100/100" alt="ustoslar">
                        <h3 class="teacher__card-name">Lorem, ipsum dolor.</h3>
                        <a class="teacher__card-link" href="#">Batafsil</a>
                    </div>
                    <div class="teacher__card-item">
                        <img class="teacher__card-img" src="https://picsum.photos/100/100" alt="ustoslar">
                        <h3 class="teacher__card-name">Lorem, ipsum dolor.</h3>
                        <a class="teacher__card-link" href="#">Batafsil</a>
                    </div>
                    <div class="teacher__card-item">
                        <img class="teacher__card-img" src="https://picsum.photos/100/100" alt="ustoslar">
                        <h3 class="teacher__card-name">Lorem, ipsum dolor.</h3>
                        <a class="teacher__card-link" href="#">Batafsil</a>
                    </div>
                    <div class="teacher__card-item">
                        <img class="teacher__card-img" src="https://picsum.photos/100/100" alt="ustoslar">
                        <h3 class="teacher__card-name">Lorem, ipsum dolor.</h3>
                        <a class="teacher__card-link" href="#">Batafsil</a>
                    </div>
                    <div class="teacher__card-item">
                        <img class="teacher__card-img" src="https://picsum.photos/100/100" alt="ustoslar">
                        <h3 class="teacher__card-name">Lorem, ipsum dolor.</h3>
                        <a class="teacher__card-link" href="#">Batafsil</a>
                    </div>
                </div>
            </div>
        </section>
    </main>

</body>

</html>